{% extends "base.html" %}
{% load i18n django_bootstrap5 %}

{% block title %}{% trans "Удаление статуса" %}{% endblock %}

{% block content %}
<h1>{% trans "Удаление статуса" %}</h1>

<p>{% trans "Вы уверены, что хотите удалить статус" %} "{{ object.name }}"?</p>

<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">{% trans "Да, удалить" %}</button>
    <a href="{% url 'statuses:index' %}" class="btn btn-secondary">{% trans "Отмена" %}</a>
</form>
{% endblock %}