{% extends "base.html" %}
{% block title %}Статусы{% endblock %}

{% block content %}
<h1>Статусы задач</h1>
<ul class="list-group">
    {% for status in statuses %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ status.name }}
        <span>
            <a href="{% url 'status_update' status.id %}" class="btn btn-sm btn-primary">Изменить</a>
            <a href="{% url 'status_delete' status.id %}" class="btn btn-sm btn-danger">Удалить</a>
        </span>
    </li>
    {% endfor %}
</ul>
{% endblock %}