{% extends "base.html" %}
{% load i18n django_bootstrap5 %}

{% block title %}{% block form_title %}{% endblock %}{% endblock %}

{% block main_classes %}container py-3{% endblock %}

{% block content %}
<div class="card mx-auto bg-dark bg-opacity-25 border-secondary col-md-6 col-lg-4">
    <div class="card-body p-4">
        <div class="text-center mb-4">
            <h1 class="mb-3">{% block form_title %}{% endblock %}</h1>
        </div>

        {% if form.errors %}
        <div class="alert alert-danger">
            {% trans "Пожалуйста, исправьте ошибки ниже." %}
        </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" class="btn btn-primary w-100" value="{% block button_name %}{% endblock %}">
        </form>
    </div>
</div>
{% endblock %}