{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Метки" %}{% endblock %}

{% block content %}
<h1 class="mb-4">{% trans "Метки" %}</h1>

<a href="{% url 'labels:create' %}" class="btn btn-primary mb-3">{% trans "Создать метку" %}</a>

<table class="table table-striped align-middle">
    <thead>
        <tr>
            <th>ID</th>
            <th>{% trans "Имя" %}</th>
            <th>{% trans "Дата создания" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for label in labels %}
        <tr>
            <td>{{ label.id }}</td>
            <td>{{ label.name }}</td>
            <td>{{ label.created_at|date:"d.m.Y H:i" }}</td>
            <td class="text-end">
                <div class="d-flex gap-2 justify-content-end">
                    <a href="{% url 'labels:update' label.id %}" class="btn btn-sm btn-primary">{% trans "Изменить" %}</a>
                    <a href="{% url 'labels:delete' label.id %}" class="btn btn-sm btn-danger">{% trans "Удалить" %}</a>
                </div>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4" class="text-center">{% trans "Нет меток" %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}