<!DOCTYPE html>
{% load i18n django_bootstrap5 %}
{% get_current_language as LANGUAGE_CODE %}

<html lang="{{ LANGUAGE_CODE }}" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Менеджер задач{% endblock %}</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body class="d-flex flex-column min-vh-100">

<header>
    {% include "includes/navbar.html" %}
</header>

<main class="flex-grow-1">
    <div class="container py-5">
        {% bootstrap_messages %}
        {% block content %}{% endblock %}
    </div>
</main>

<footer class="mt-auto text-center text-muted py-3">
    <p>© {% now "Y" %} Task Manager</p>
</footer>

</body>
</html>