{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
<h1>Добро пожаловать в Task Manager</h1>
<ul class="list-group">
    <li class="list-group-item"><a href="{% url 'tasks:index' %}">Задачи</a></li>
    <li class="list-group-item"><a href="{% url 'labels:index' %}">Метки</a></li>
    <li class="list-group-item"><a href="{% url 'statuses:index' %}">Статусы</a></li>
    <li class="list-group-item"><a href="{% url 'users:index' %}">Пользователи</a></li>
</ul>
{% endblock %}