{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Задачи" %}{% endblock %}

{% block content %}
<h1 class="mb-4">{% trans "Задачи" %}</h1>

<a href="{% url 'tasks:create' %}" class="btn btn-primary mb-3">{% trans "Создать задачу" %}</a>

<div class="card mb-3">
    <div class="card-body bg-light">
<form method="get" class="mb-4">
    <div class="card bg-light p-3 mb-3">
        <div class="mb-3">
            {{ filter.form.status.label_tag }}
            <select name="{{ filter.form.status.name }}" id="{{ filter.form.status.id_for_label }}" class="form-select form-select-lg">
                <option value="" selected>---------</option>
                {% for option in filter.form.status.field.queryset %}
                    <option value="{{ option.id }}" {% if option.id == filter.form.status.value %}selected{% endif %}>
                        {{ option.name }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            {{ filter.form.executor.label_tag }}
            <select name="{{ filter.form.executor.name }}" id="{{ filter.form.executor.id_for_label }}" class="form-select form-select-lg">
                <option value="" selected>---------</option>
                {% for option in filter.form.executor.field.queryset %}
                    <option value="{{ option.id }}" {% if option.id == filter.form.executor.value %}selected{% endif %}>
                        {{ option.get_full_name|default:option.username }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            {{ filter.form.creator.label_tag }}
            <select name="{{ filter.form.creator.name }}" id="{{ filter.form.creator.id_for_label }}" class="form-select form-select-lg">
                <option value="" selected>---------</option>
                {% for option in filter.form.creator.field.queryset %}
                    <option value="{{ option.id }}" {% if option.id == filter.form.creator.value %}selected{% endif %}>
                        {{ option.get_full_name|default:option.username }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            {{ filter.form.labels.label_tag }}
            <select name="{{ filter.form.labels.name }}" id="{{ filter.form.labels.id_for_label }}" class="form-select form-select-lg">
                <option value="" selected>---------</option>
                {% for option in filter.form.labels.field.queryset %}
                    <option value="{{ option.id }}" {% if option.id == filter.form.labels.value %}selected{% endif %}>
                        {{ option.name }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3 d-flex align-items-center">
            {{ filter.form.own_tasks }}
            <label for="{{ filter.form.own_tasks.auto_id }}" class="form-check-label ms-2">
                {% trans "Только мои задачи" %}
            </label>
        </div>

        <div class="d-flex gap-2 justify-content-end">
            <button type="submit" class="btn btn-primary">{% trans "Фильтровать" %}</button>
            <a href="{% url 'tasks:index' %}" class="btn btn-secondary">{% trans "Сбросить" %}</a>
        </div>
    </div>
</form>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>{% trans "ID" %}</th>
            <th>{% trans "Имя" %}</th>
            <th>{% trans "Статус" %}</th>
            <th>{% trans "Автор" %}</th>
            <th>{% trans "Исполнитель" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.id }}</td>
            <td><a href="{% url 'tasks:detail' task.id %}">{{ task.name }}</a></td>
            <td>{{ task.status }}</td>
            <td>{{ task.creator }}</td>
            <td>{{ task.executor }}</td>

            <td class="text-end">
                <a href="{% url 'tasks:update' task.id %}" class="btn btn-sm btn-primary">{% trans "Изменить" %}</a>
                <a href="{% url 'tasks:delete' task.id %}" class="btn btn-danger btn-sm">{% trans "Удалить" %}</a>
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="6" class="text-center">{% trans "Задачи не найдены." %}</td></tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}